<h2>Speak Now <span class="badge bg-secondary">(Taylor's Version)</span></h2>
<div class="card text-center">
    <div class="card-header">
      Speak Now (Taylor's Version)
    </div>
    <div class="card-body">
      <h5 class="card-title">Republic Records</h5>
      <div class="imgcontainer">
          <div class="imgcontent">       
          <img src="https://media.pitchfork.com/photos/647e290ae7a8aa8db8026970/master/pass/Taylor-Swift.jpg" alt="Album Speak Now">
        </div>
        <div class="imgcontent">
            <img src="https://townsquare.media/site/838/files/2023/06/attachment-speaknow-taylorsversion.jpg?w=1600&q=75" alt="Album Speak Now">
        </div>
      </div>
      <br>
      <p class="card-text">Speak Now (Taylor's Version) es el tercer álbum de estudio regrabado de la cantante y compositora estadounidense Taylor Swift, publicado el 7 de julio de 2023 a través de Republic Records.</p>
      <button class="botoncitobonito"> <a href="https://store.taylorswift.com/collections/speak-now-taylors-version-shop/products/speak-now-taylors-version-3lp-orchid-marbled-vinyl" target="_blank">Comprar</a></button>
    </div>
    <div class="card-footer text-body-secondary">
     Lanzamiento: 7 de Julio del 2023
    </div>
  </div>